<ion-header translucent>
 <ion-toolbar>
  <ion-buttons slot="start">
   <ion-button fill="clear" (click)="dismissModal()">
    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
   </ion-button>
  </ion-buttons>
  <ion-title class="ion-text-start">Create Group</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding create-group-page">

 <ion-card class="form-card">
  <ion-item lines="none" class="clean-item">
   <ion-label position="floating">Group Name</ion-label>
   <ion-input [(ngModel)]="groupName" placeholder="Enter group name" clearInput></ion-input>
  </ion-item>

  <ion-button expand="block" shape="round" color="primary" class="create-btn" [disabled]="!groupName.trim()"
   (click)="checkValidations()">
   Create Group
  </ion-button>
 </ion-card>

</ion-content>