<ion-header [translucent]="true">
 <ion-toolbar>
  <ion-title class="ion-padding-horizontal">Forgot Password</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="login-container">
  <div class="login-content">
   <div class="login-header">
    <p>Forgot Password</p>
   </div>
   <div class="login-form">
    <ion-row>
     <ion-col size="12">
      <ion-input type="text" placeholder="Enter email" autocomplete="off" [(ngModel)]="email" [disabled]="otpId!=''"
       (keydown.enter)="checkValidations()"></ion-input>
     </ion-col>
    </ion-row>

    <ion-row class="otp-row">
     <ion-col class="otp-input-col">
      <ion-input type="text" placeholder="Enter OTP" autocomplete="off" [(ngModel)]="otpInput"></ion-input>
     </ion-col>
     <ion-col class="otp-button-col">
      @if (otpId) {
      <ion-button class="otp-button" expand="block" [disabled]="otpInput.length != 6" (click)="verfiedOtp()">
       Verify OTP
       <ion-spinner *ngIf="isVerifyingOtp" slot="end" name="dots"></ion-spinner>
      </ion-button>
      }@else {
      <ion-button class="otp-button" expand="block" [disabled]="!isValidEmail() || otpId != ''" (click)="sendOtp()">
       Send OTP
       <ion-spinner *ngIf="isSendingOtp" slot="end" name="dots"></ion-spinner>
      </ion-button>
      }
     </ion-col>
    </ion-row>

    @if (isOtpVerfied) {
    <ion-row>
     <ion-col>
      <p class="email-verified-text">Email Verified</p>
     </ion-col>
    </ion-row>
    }

    <ion-row>
     <ion-col size="12">
      <ion-input type="password" placeholder="Enter new password" [(ngModel)]="password" autocomplete="off"
       (keydown.enter)="checkValidations()">
       <ion-input-password-toggle slot="end" color="light"></ion-input-password-toggle>
      </ion-input>
     </ion-col>
    </ion-row>

    <ion-row>
     <ion-col size="12">
      <ion-input type="text" placeholder="Confirm password" autocomplete="off" [(ngModel)]="confirmPwd"
       (keydown.enter)="checkValidations()"></ion-input>
     </ion-col>
    </ion-row>

    <ion-row>
     <ion-col size="12">
      <ion-button [disabled]="isLoading" expand="block" color="secondary" (click)="checkValidations()">
       <ion-icon slot="start" name="log-in"></ion-icon>
       Reset Password
       <ion-spinner slot="end" *ngIf="isLoading"></ion-spinner>
      </ion-button>
     </ion-col>
    </ion-row>

    <ion-row>
     <ion-col size="12">
      <p>Already have an account?
       <span class="link" (click)="navigateToPage('login')">Login</span>
      </p>
     </ion-col>
    </ion-row>
   </div>
  </div>
 </div>
</ion-content>