<ion-header translucent>
 <ion-toolbar>

  <ion-buttons slot="start">
   <ion-button fill="clear" (click)="dismissModal()">
    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
   </ion-button>
  </ion-buttons>

  <ion-buttons slot="start" class="avatar-name-group">
   <ion-avatar class="avatar-icon">
    <ion-icon [name]="friendData.user_profile"></ion-icon>
   </ion-avatar>
   <div class="friend-name">{{ friendData.username }}</div>
  </ion-buttons>

 </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="chat-content">

 <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
  <ion-refresher-content pullingIcon="arrow-down-outline" refreshingSpinner="crescent" pullingText="Pull to refresh"
   refreshingText="Refreshing...">
  </ion-refresher-content>
 </ion-refresher>

 <div class="chat-container ion-padding">
  @for (chat of chatData; track $index) {
  <div class="chat-bubble ion-padding" [ngClass]="{
        'own-message': chat.sender_id === userData?.user_id,
        'friend-message': chat.sender_id !== userData?.user_id
      }" id="{{$last?'last-msg':''}}">
   <div class="message-text">{{ chat.msg }}</div>
   <div class="message-time ion-text-end ion-text-small">
    {{ chat.created_at | date: chat['is_today']?'hh:mm a':'dd MMM yy hh:mm a' }}
   </div>
  </div>
  }
 </div>

</ion-content>

<ion-footer class="chat-footer no-gradient-footer" keyboard-attach>
 <ion-toolbar>
  <ion-item lines="none" class="ion-align-items-center chat-input-item">
   <ion-textarea [(ngModel)]="msgValue" placeholder="Type a message" class="message-input" [autoGrow]="true"
    (keydown.enter)="sendMessage()">
   </ion-textarea>
   <ion-button fill="clear" slot="end" (click)="sendMessage()" [disabled]="!msgValue.trim()||isSendingMsg">
    <ion-icon slot="icon-only" name="send-outline"></ion-icon>
   </ion-button>
  </ion-item>
 </ion-toolbar>
</ion-footer>