<ion-header translucent>
 <ion-toolbar>
  <ion-title class="ion-text-center">Side Bar</ion-title>
  <ion-buttons slot="end">
   <ion-button fill="clear" (click)="closeSidebar()">
    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
   </ion-button>
  </ion-buttons>
 </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding">
 <ion-list>
  @for (tab of tabsList; track $index) {
  <ion-item button (click)="onTabClick(tab)">
   <ion-icon slot="start" [name]="tab.icon" class="ion-margin-end"></ion-icon>
   <ion-label>{{ tab.name }}</ion-label>
  </ion-item>
  }
 </ion-list>
</ion-content>