<ion-content [fullscreen]="true" class="ion-padding">

 <!-- Refresh -->
 <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
  <ion-refresher-content pullingIcon="arrow-down-outline" refreshingSpinner="crescent" pullingText="Pull to refresh"
   refreshingText="Refreshing...">
  </ion-refresher-content>
 </ion-refresher>

 <!-- Searchbar -->
 <ion-searchbar placeholder="Search by username..." [debounce]="300" (ionInput)="onSearch($event)">
 </ion-searchbar>

 <!-- Floating Add Button -->
 <ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="openCreateGroupModal()" size="small">
   <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
 </ion-fab>

 <!-- Placeholder for group list -->
 <span>Groups Component</span>

</ion-content>