<ion-header translucent>
 <ion-toolbar>
  <ion-buttons slot="end">
   <ion-button fill="clear" (click)="dismissModal()">
    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
   </ion-button>
  </ion-buttons>
  <ion-title class="ion-text-center">User Requests</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
 <ion-segment [(ngModel)]="selectedTab" [value]="selectedTab">
  @for (tab of tabsList; track $index) {
  <ion-segment-button [value]="tab.id">
   <ion-label>{{tab.name}} ({{ tab.count }})</ion-label>
  </ion-segment-button>
  }
 </ion-segment>

 @switch (selectedTab) {
 @case (1) {
 <div>
  @for (item of receivedRequests; track $index) {
  <ion-list>
   <ion-item>
    <ion-avatar slot="start">
     <ion-icon [name]="getGenderIcon(item.gender_id)" size="large"></ion-icon>
    </ion-avatar>
    <ion-label>{{ item.username }}</ion-label>
    <ion-buttons slot="end">
     <ion-button color="success" (click)="acceptRequest(item)">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
     </ion-button>
     <ion-button color="danger" (click)="rejectRequest(item)">
      <ion-icon name="close-circle-outline"></ion-icon>
     </ion-button>
    </ion-buttons>
   </ion-item>
  </ion-list>
  }
 </div>
 }
 @case (2) {
 <div>
  @for (item of sentRequests; track $index) {
  <ion-list>
   <ion-item>
    <ion-avatar slot="start">
     <ion-icon [name]="getGenderIcon(item.gender_id)" size="large"></ion-icon>
    </ion-avatar>
    <ion-label>{{ item.username }}</ion-label>
    <ion-button slot="end" color="medium" (click)="withdrawRequest(item)">
     <ion-icon name="remove-circle-outline"></ion-icon>
    </ion-button>
   </ion-item>
  </ion-list>
  }
 </div>
 }
 }

</ion-content>