.login-container {
 width: 100vw;
 height: 92.5vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background: #2e0e4f;

 .login-content {
  width: 85%;
  background: #80808052;
  padding: 1.5rem;
  border-radius: 0.5rem;

  .login-header {
   border-bottom: 1px solid aliceblue;
   padding-bottom: 0.75rem;
   margin-bottom: 1rem;

   p {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    color: white;
   }
  }

  .login-form {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;

   ion-col {
    width: 100%;
   }

   ion-input,
   ion-select {
    --padding-start: 0.25rem;
    --padding-end: 0.25rem;
    --padding-top: 0.25rem;
    --padding-bottom: 0.25rem;
    border-radius: 0.4rem;
   }

   ion-button {
    --ion-color-secondary: white;
    --ion-color-secondary-shade: rgba(181, 179, 179, 0.78);
    --ion-color-secondary-contrast: black;

    ion-spinner {
     margin-left: 0.5rem;
     color: black;
    }
   }

   :host-context(.dark) ion-button {
    --ion-color-secondary: black;
    --ion-color-secondary-shade: rgba(255, 255, 255, 0.7);
    --background: var(--ion-color-secondary);
    --color: black;
   }
  }
 }
}

ion-button.otp-button {
 height: 100%;
 font-size: 0.75rem;
 --padding-start: 0.5rem;
 --padding-end: 0.5rem;
 --border-radius: 0.4rem;
 display: flex;
 justify-content: center;
 align-items: center;

 ion-spinner {
  margin-left: 0.5rem;
  width: 16px;
  height: 16px;
  color: black;
 }

 &:disabled {
  opacity: 0.5;
 }
}

.email-verified-text {
 color: #00ffab; // soft green
 font-weight: bold;
 font-size: 1rem;
 margin-top: 0.25rem;
 display: flex;
 align-items: center;
 gap: 0.4rem;

 &::before {
  content: '✅';
  font-size: 1.2rem;
 }
}