<ion-header [translucent]="true">
 <ion-toolbar>
  <ion-title>Sign Up</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="login-container">
  <div class="login-content">
   <div class="login-header">
    <p class="text-white">Create User</p>
   </div>
   <div class="login-form">

    <ion-row>
     <ion-col size="12">
      <ion-input type="text" aria-label="User Name" color="success" placeholder="Enter user name" autocomplete="off"
       [(ngModel)]="formPostdata['username']" (keydown.enter)="doCreateUser()"></ion-input>
     </ion-col>
    </ion-row>

    <ion-row>
     <ion-col size="12">
      <ion-input type="text" aria-label="User Email" color="success" placeholder="Enter user email" autocomplete="off"
       [(ngModel)]="formPostdata['email']" (keydown.enter)="doCreateUser()"></ion-input>
     </ion-col>
    </ion-row>

    <ion-row>
     <ion-col size="12">
      <ion-select [(ngModel)]="formPostdata.gender_id" interface="popover" placeholder="Select gender">
       <ion-select-option *ngFor="let item of gendersData" [value]="item.id">
        {{ item.name }}
       </ion-select-option>
      </ion-select>
     </ion-col>
    </ion-row>

    <ion-row>
     <ion-col size="12">
      <ion-input type="password" placeholder="Enter password" [(ngModel)]="formPostdata['password']" autocomplete="off"
       (keydown.enter)="doCreateUser()">
       <ion-input-password-toggle slot="end" color="light"></ion-input-password-toggle>
      </ion-input>
     </ion-col>
    </ion-row>

    <ion-row>
     <ion-col size="12">
      <ion-input type="text" aria-label="Confirm Password" color="success" placeholder="Enter confirm password"
       autocomplete="off" [(ngModel)]="confirmPwd" (keydown.enter)="doCreateUser()"></ion-input>
     </ion-col>
    </ion-row>

    <ion-row>
     <ion-col size="12">
      <ion-button [disabled]="isLoading" size="small" expand="block" color="secondary" (click)="doCreateUser()">
       <ion-icon slot="end" name="log-in"></ion-icon>
       Create
       <ion-spinner slot="end" *ngIf="isLoading"></ion-spinner>
      </ion-button>
     </ion-col>
    </ion-row>

    <ion-row>
     <ion-col size="12">
      <p class="text-white">
       Already have an account?
       <span class="link" (click)="navigateToPage('login')">Login</span>
      </p>
     </ion-col>
    </ion-row>
   </div>
  </div>
 </div>
</ion-content>