<ion-content [fullscreen]="true" class="ion-padding">

 <!-- Pull to Refresh -->
 <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
  <ion-refresher-content pullingIcon="arrow-down-outline" refreshingSpinner="crescent" pullingText="Pull to refresh"
   refreshingText="Refreshing...">
  </ion-refresher-content>
 </ion-refresher>

 <!-- Floating Add Button -->
 <ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="openCreatePostModal()" size="small">
   <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
 </ion-fab>

</ion-content>